@import '../abstract/_variaveis'
.container-botao-parar
    position: absolute
    top: 92%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 20
    white-space: nowrap
    button
        font-size: 2em
        padding: .2em .5em
        background-color: $vermelho-2
        border-radius: 12px
        color: $branco
        font-weight: bold