@import '../abstract/_variaveis'
main
    .container
        .tarefas
            margin: 0 auto
            background-color: $rosa-escuro
            box-shadow: 0 0 5px 2px $preto
            height: fit-content
            h2
                text-align: center
                padding: .5em
                font-size: 1.4em
            .tarefas__lista
                display: flex
                flex-direction: column
                list-style-type: none
                padding: 0 .5em .5em .5em
                row-gap: .8em
                .tarefas__lista__item
                    display: flex
                    flex-direction: column
                    .container__tarefa
                        display: grid
                        grid-template-columns: 1fr 45px auto
                        grid-template-rows: auto 15px
                        background-color: $creme
                        position: relative
                        color: $preto
                        box-shadow: 0 0 2px 1px $preto
                        .tarefas__lista__item__titulo
                            grid-row: 1/2
                            grid-column: 1/2
                            position: absolute
                            top: 50%
                            left: 1%
                            transform: translate(0, -50%)
                        .tarefas__lista__item__btns
                            grid-column: 2/3
                            grid-row: 1/2
                            display: flex
                            gap: .2em
                            row-gap: 0
                            flex-wrap: wrap
                            button
                                width: 20px
                                height: 20px
                                display: flex
                                justify-content: center
                                align-items: center
                                text-align: center
                                cursor: pointer
                                background-color: transparent
                                border: none
                                outline: none
                                font-size: 1em
                            .tarefas__lista__item__btns__adicionar
                                color: $azul-escuro
                            .tarefas__lista__item__btns__concluir
                                color: $verde
                            .tarefas__lista__item__btns__alterar
                                color: $laranja
                            .tarefas__lista__item__btns__excluir
                                color: $vermelho
                        .tarefas__lista__item__btn-detalhes
                            grid-column: 1/4
                            grid-row: 2/3
                            overflow: hidden
                            font-size: .55em
                            font-weight: bold
                            background-color: $rosa-sendario
                            color: white
                            border: none
                            outline: none
                            cursor: pointer
                            border-top: solid 1px $preto
                            display: flex
                            justify-content: center
                            align-items: center
                            column-gap: .6em
                            text-shadow: 1px 1px 2px $preto
                            i
                                rotate: 90deg
                                text-shadow: none
                        .tarefa__lista__item__detalhes
                            grid-row: 3/4
                            grid-column: 1/3
                            padding: .5em
                            display: none
                        .active__tarefa__descricao
                            display: block
                            width: 100%
                            height: auto
                    .container__form
                        display: flex
                        flex-direction: column
                        padding: .5em
                        background-color: $azul-escuro
                        font-size: 1.1em
                        margin-top: .5em
                        label
                            margin-bottom: .2em
                        input
                            height: 22px
                        input, textarea
                            margin-bottom: .8em
                        div
                            width: 100%
                            display: flex
                            button
                                flex-grow: 1
                                font-size: 1em
                                padding: .5em 0
            .tarefa__adicionar__lista
                display: flex
                width: 100%
                height: 50px
                font-size: 1.5em
                justify-content: center
                align-items: center
                column-gap: .5em
                font-weight: bold
                background-color: $azul-escuro
                border: none
                outline: none
                color: $branco
                border-top: solid 2px $preto
                cursor: pointer
        .tarefa__formulario
            display: none
            flex-direction: column
            row-gap: .5em
            fieldset
                display: flex
                flex-direction: column
                border: none
                padding: 1em 1em 0 1em
                row-gap: .3em
                input
                    height: 25px
                    padding: .5em
                textarea
                    padding: .5em
                label
                    font-size: 1.2em
            .tarefa__formulario__botoes
                display: flex
                flex-direction: row
                column-gap: .5em
                margin-bottom: .8em
                button
                    flex-grow: 1
                    font-size: 1.2em
                    font-weight: bold
                    padding: .5em 0
                    background-color: $azul-escuro
                    border: none
                    color: $branco
        .tarefa__formulario__active
            display: flex
