@import '../abstract/_variaveis'
main
    display: flex
    flex-direction: column
    align-items: center
    font-family: $fonte-primaria
    img
        width: 70%
        @media screen and (min-width: 768px)
            width: 50%
        @media screen and (min-width: 1024px)
            width: 40%
        @media screen and (min-width: 1440px)
            width: 20%
    h3
        margin-top: .3em
        text-align: center
        max-width: 95%
        font-size: 1.8em
        line-height: 1.2
        color: $cor-branca
        margin-top: .5em
        @media screen and (min-width: 425px)
            font-size: 2.2em
            max-width: 90%
        @media screen and (min-width: 768px)
            font-size: 2.5em
            max-width: 70%
        @media screen and (min-width: 1024px)
            font-size: 3em
            max-width: 60%
        @media screen and (min-width: 1440px)
            max-width: 40%
    .pomodoro
        width: 90%
        height: 30vh
        border-radius: 10px
        background-color: $cor-azul-marinho
        margin-top: .7em
        padding: .7em
        display: flex
        position: relative
        justify-content: space-around
        margin-bottom: 1.5em
        @media screen and (min-width: 768px)
            max-width: 60%
            margin-top: 1.5em
        @media screen and (min-width: 1024px)
            max-width: 50%
            margin-top: 1.5em
        @media screen and (min-width: 1440px)
            max-width: 45%
            margin-top: 1.5em
        .botoes
            display: flex
            flex-direction: column
            width: 30%
            height: 100%
            justify-content: space-around
            button
                font-size: .9em
                font-weight: bold
                text-align: center
                padding: .3em 0
                background-color: $cor-vermelho
                color: $cor-branca
                cursor: pointer
                border-radius: 10px
                @media screen and (min-width: 375px)
                    font-size: 1em
                    padding: .3em em
                @media screen and (min-width: 425px)
                    font-size: 1em
                    padding: .3em 1em
                @media screen and (min-width: 540px)
                    padding: .3em 2.5em
                @media screen and (min-width: 1024px)
                    font-size: 1.2em
                    padding: .3em 1.2em
                @media screen and (min-width: 1440px)
                    font-size: 1.2em
                    padding: .3em 2em
        .timer
            display: flex
            flex-direction: column
            width: 60%
            align-items: center
            justify-content: space-around
            gap: .3em
            .circulo
                width: 130px
                height: 130px
                position: relative
                svg
                    position: absolute
                    width: 150px
                    height: 150px
                    transform: rotate(270deg)
                    circle
                        width: 100%
                        height: 100%
                        fill: transparent
                        stroke: orange
                        stroke-width: 4
                        &:nth-child(2)
                            stroke: red
                            stroke-dasharray: 377
                .dot
                    position: absolute
                    width: 100%
                    height: 100%
                    z-index: 2
                    display: flex
                    justify-content: center
                    &::before
                        content: ''
                        position: absolute
                        width: 10px
                        height: 10px
                        background: blue
                        border-radius: 50%
                        box-shadow: 0 0 15px 5px white
            button
                background-color: $cor-vermelho
                padding: .3em 3em
                font-size: 1em
                font-weight: bold
                color: white
                cursor: pointer
                @media screen and (min-width: 425px)
                    font-size: 1.2em

                