@import './_variaveis'
*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    scroll-behavior: smooth
body
    min-height: 100vh
    position: relative
    transition: .6s ease
[data-tema="escuro"]
    background: $azul-2
[data-tema="claro"]
    background: $azul-4
    .offcanvas-bars
        background-color: $azul-4
        transition: .6s ease