@import '../abstract/_variaveis'
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    height: 100vh
    background-color: $cor-vermelho 
    &::-webkit-scrollbar
        width: 5px
    &::-webkit-scrollbar-track
        background: $cor-vermelho-claro
    &::-webkit-scrollbar-thumb
        background-color: $cor-azul-marinho
        border-radius: 20px
        border: solid 2px $cor-azul