@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap')

// fonts
$fonte-titulo: "Oswald", sans-serif
$fonte-primaria: "Anta", sans-serif
// colors
$branco: #fff