@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap')

@font-face
    font-family: 'DSDIGI'
    src: url('../fonts/DS-DIGI.TTF')

// fonts
$fonte-titulo: "Oswald", sans-serif
$fonte-primaria: "Anta", sans-serif
$fonte-relogio: 'DSDIGI'

// colors
$branco: #fff
$rosa-escuro: #FF004D
$creme: #FFE5AD
$rosa-sendario: #FB3640
$azul-escuro: #004CA5
$preto: #000
$azul: #1d8bf7
$laranja: #FB9708
$vermelho: #FF161F
$verde: #33B8A5
$verde-escuro: #00A88F
$verde-claro: #84D4C9
