@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Oswald:wght@200;400;500;600;700&display=swap')

// fontes
$fonte-primaria: 'Oswald', sans-serif
$fonte-secundaria: 'Inter', sans-serif

// cores
$cor-branca: #fff
$cor-azul-marinho: #0F2167
$cor-azul: #15245f
$cor-vermelho: #FE0000
$cor-vermelho-claro: #ff5c5c