@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: red;
  background-image: linear-gradient(to left, #40A2E3, #387ADF, #0C359E);
  background-size: 500% 100%;
  animation: degrade-animado 5s infinite alternate;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #0C359E;
}
body::-webkit-scrollbar-thumb {
  background-color: #042135;
  border-radius: 20px;
}

@keyframes degrade-animado {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/DS-DIGI.TTF");
}
header {
  display: grid;
  grid-template-columns: 80% 1fr;
  font-family: "Anta", sans-serif;
}
header a {
  display: flex;
  width: 100%;
  padding: 8px;
  align-items: center;
  text-decoration: none;
  color: #fff;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  justify-content: center;
}
header a img {
  width: 20%;
}
header a h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 0.22em;
  font-size: 2.3em;
}
header .menu-hamburguer {
  width: 100%;
}
header .menu-hamburguer i {
  font-size: 2.2em;
  width: 100%;
  text-align: center;
  padding-top: 0.4em;
}
header section {
  display: none;
}

@media screen and (min-width: 425px) {
  header a {
    justify-content: start;
    padding-left: 1.5em;
  }
  header a img {
    height: 80px;
    width: auto;
  }
  header a h1 {
    font-size: 2.7em;
  }
  header .menu-hamburguer i {
    font-size: 2.7em;
  }
}
@media screen and (min-width: 768px) {
  header a {
    justify-content: start;
    padding-left: 1.5em;
  }
  header a img {
    height: 80px;
    width: auto;
  }
  header a h1 {
    font-size: 2.7em;
  }
  header .menu-hamburguer i {
    font-size: 2.7em;
    text-align: end;
    margin-right: 0.5em;
  }
}
@media screen and (min-width: 1024px) {
  header {
    grid-template-columns: auto 1fr;
  }
  header a {
    justify-content: start;
    padding-left: 1.5em;
  }
  header a img {
    height: 80px;
    width: auto;
  }
  header a h1 {
    font-size: 2.7em;
  }
  header .menu-hamburguer {
    display: none;
  }
  header section {
    display: flex;
    margin-left: auto;
    margin-right: 2em;
  }
  header section a {
    white-space: nowrap;
    font-size: 1.2em;
    padding-top: 1.5em;
  }
}
@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/DS-DIGI.TTF");
}
main {
  font-family: "Anta", sans-serif;
  color: #fff;
  margin-top: 1.2em;
}

.banner {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .banner__titulo {
  font-size: 2em;
  text-align: center;
  font-weight: 200;
}
.banner .banner__titulo strong {
  font-weight: 700;
}

@media screen and (min-width: 375px) {
  main {
    margin-top: 1em;
  }
}
@media screen and (min-width: 425px) {
  main .banner .banner__img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  main .banner {
    max-width: 80%;
  }
  main .banner .banner__titulo {
    font-size: 3em;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  main {
    margin-top: 3em;
  }
  main .banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .banner .banner__img {
    justify-self: center;
  }
}
@media screen and (min-width: 1024px) {
  main {
    margin: 0;
  }
  main .banner {
    height: 85vh;
  }
}
@media screen and (min-width: 1440px) {
  main {
    margin: 0;
  }
  main .banner {
    height: 88vh;
  }
}
@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/DS-DIGI.TTF");
}
main .container .categoria {
  height: 230px;
  background-color: #004CA5;
  margin: 0 auto;
  box-shadow: 0 0 5px 2px #000;
  position: relative;
}
main .container .categoria .categoria__item {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
main .container .categoria .categoria__item li button {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 0.2em 0;
  background-color: #FF004D;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  border: solid 1px black;
}
main .container .categoria .categoria__item .active__btn {
  background-color: #FFE5AD;
  color: #FF004D;
  border-bottom: solid 2px black;
  scale: 1.1;
  transition: 0.4s ease;
}
main .container .categoria .categoria__relogio {
  width: 125px;
  height: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .container .categoria .categoria__relogio .categoria__relogio__circle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .categoria .categoria__relogio .categoria__relogio__circle .dot {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
main .container .categoria .categoria__relogio .categoria__relogio__circle .dot::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: orange;
  border-radius: 50%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (min-width: 320px) {
  main .container .categoria .categoria__relogio .categoria__relogio__circle .dot::before {
    top: -2%;
  }
}
@media screen and (min-width: 768px) {
  main .container .categoria .categoria__relogio .categoria__relogio__circle .dot::before {
    top: 0%;
  }
}
main .container .categoria .categoria__relogio .categoria__relogio__circle .svg-1 {
  display: block;
}
main .container .categoria .categoria__relogio .categoria__relogio__circle .svg-1 circle:nth-child(2) {
  stroke: #f00;
  stroke-dasharray: 377;
}
main .container .categoria .categoria__relogio .categoria__relogio__circle .svg-2 {
  display: none;
}
main .container .categoria .categoria__relogio .categoria__relogio__circle .svg-2 circle:nth-child(2) {
  stroke: #f00;
  stroke-dasharray: 409;
}
main .container .categoria .categoria__relogio .categoria__relogio__circle #tempo {
  position: absolute;
  color: black;
  font-size: 2em;
  font-family: "DSDIGI";
  font-weight: bold;
  color: #fff;
}
main .container .categoria .categoria__relogio .categoria__relogio__circle svg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotate(270deg);
}
main .container .categoria .categoria__relogio .categoria__relogio__circle svg circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4;
}
main .container .categoria .categoria__musica {
  display: flex;
  flex-direction: column;
  width: 50px;
  justify-content: center;
  align-items: center;
  row-gap: 0.1em;
  position: absolute;
  right: 4.5%;
  top: 22%;
}
main .container .categoria .categoria__musica label {
  text-transform: uppercase;
  font-size: 0.6em;
}
main .container .categoria .categoria__musica .categoria__musica__input {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 45px;
  height: 20px;
  box-shadow: 0 0 3px 1px #000;
  border-radius: 15px;
  background-color: #FFE5AD;
  transition: 0.4s ease-in-out;
  position: relative;
}
main .container .categoria .categoria__musica .categoria__musica__input:checked {
  background-color: #FF004D;
}
main .container .categoria .categoria__musica .categoria__musica__input::before {
  content: "";
  background-image: url("../imgs/nota-musical.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-color: #1d8bf7;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  box-shadow: 0 0 2px #000;
  scale: 1.1;
  border: solid 1px #000;
  transition: 0.4s ease-in-out;
}
main .container .categoria .categoria__musica .categoria__musica__input:checked::before {
  transition: 0.4s ease-in-out;
  transform: translate(100%);
}
main .container .categoria .categoria__btn__iniciar {
  position: absolute;
  bottom: 3.5%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0 4px 1px #000;
}
main .container .categoria .categoria__btn__iniciar button {
  font-size: 1.2em;
  padding: 0.2em 0;
  width: 125px;
  display: flex;
  -moz-column-gap: 0.3em;
       column-gap: 0.3em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: #FF004D;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
main .container .categoria .categoria__btn__iniciar button i {
  font-size: 0.8em;
}

@media screen and (min-width: 375px) {
  main .categoria .categoria__item {
    height: 35px;
  }
}
@media screen and (min-width: 768px) {
  main .container .categoria {
    height: 270px;
  }
  main .container .categoria .categoria__item {
    height: 40px;
  }
  main .container .categoria .categoria__item button {
    font-size: 1.2em;
  }
  main .container .categoria .categoria__musica {
    top: 20%;
    row-gap: 0.2em;
  }
  main .container .categoria .categoria__musica label {
    font-size: 0.8em;
  }
  main .container .categoria .categoria__musica .categoria__musica__input {
    width: 55px;
    height: 25px;
  }
  main .container .categoria .categoria__musica .categoria__musica__input::before {
    height: 25px;
    width: 25px;
  }
  main .container .categoria .categoria__relogio {
    width: 140px;
    height: 140px;
  }
  main .container .categoria .categoria__relogio .categoria__relogio__circle .svg-1 {
    display: none;
  }
  main .container .categoria .categoria__relogio .categoria__relogio__circle .svg-2 {
    display: block;
  }
  main .container .categoria .categoria__btn__iniciar button {
    width: 140px;
    height: 35px;
  }
}
@media screen and (min-width: 1024px) {
  main .container {
    height: 100vh;
    max-width: 100%;
  }
}
@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/DS-DIGI.TTF");
}
main .container .tarefa__atual {
  background-color: #FF004D;
  padding: 0.5em;
  box-shadow: 0 0 5px 2px #000;
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
}
main .container .tarefa__atual h2 {
  font-size: 1.4em;
  text-align: center;
}
main .container .tarefa__atual .tarefa__atual__item {
  display: grid;
  grid-template-columns: auto 30px 30px;
  grid-template-rows: auto 15px auto;
  margin-top: 0.8em;
  background-color: #FFE5AD;
  color: #000;
  box-shadow: 0 0 2px 1px #000;
  position: relative;
}
main .container .tarefa__atual .tarefa__atual__item h3 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0.3em;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__ciclos {
  background-color: #FF004D;
  text-align: center;
  border-radius: 100%;
  position: relative;
  width: 25px;
  height: 25px;
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/2;
  box-shadow: 0 0 2px #000;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__ciclos p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__detalhes {
  grid-row: 2/3;
  grid-column: 1/4;
  overflow: hidden;
  font-size: 0.55em;
  font-weight: bold;
  background-color: #FB3640;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-top: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.6em;
       column-gap: 0.6em;
  text-shadow: 1px 1px 2px #000;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__detalhes i {
  rotate: 90deg;
  text-shadow: none;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 1/2;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__botoes button {
  width: 20px;
  height: 20px;
  font-size: 1.1em;
  background: transparent;
  border: none;
  cursor: pointer;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__botoes button:first-child {
  color: green;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__botoes button:last-child {
  color: red;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__item__descricao {
  grid-row: 3/4;
  grid-column: 1/3;
  display: none;
  padding: 0.5em;
}
main .container .tarefa__atual .tarefa__atual__item .tarefa__atual__active {
  display: block;
}

@media screen and (min-width: 1024px) {
  main .container .tarefa__atual {
    width: 100%;
    max-width: 100%;
  }
}
@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/DS-DIGI.TTF");
}
main .container .tarefas {
  margin: 0 auto;
  background-color: #FF004D;
  box-shadow: 0 0 5px 2px #000;
  height: -moz-fit-content;
  height: fit-content;
}
main .container .tarefas h2 {
  text-align: center;
  padding: 0.5em;
  font-size: 1.4em;
}
main .container .tarefas .tarefas__lista {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 0.5em 0.5em 0.5em;
  row-gap: 0.8em;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item {
  display: grid;
  grid-template-columns: 1fr 45px auto;
  grid-template-rows: auto 15px;
  background-color: #FFE5AD;
  position: relative;
  color: #000;
  box-shadow: 0 0 2px 1px #000;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__titulo {
  grid-row: 1/2;
  grid-column: 1/2;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btns {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  gap: 0.2em;
  row-gap: 0;
  flex-wrap: wrap;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btns button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btns .tarefas__lista__item__btns__adicionar {
  color: #004CA5;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btns .tarefas__lista__item__btns__concluir {
  color: #33B8A5;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btns .tarefas__lista__item__btns__alterar {
  color: #FB9708;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btns .tarefas__lista__item__btns__excluir {
  color: #FF161F;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btn-detalhes {
  grid-column: 1/4;
  grid-row: 2/3;
  overflow: hidden;
  font-size: 0.55em;
  font-weight: bold;
  background-color: #FB3640;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-top: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.6em;
       column-gap: 0.6em;
  text-shadow: 1px 1px 2px #000;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefas__lista__item__btn-detalhes i {
  rotate: 90deg;
  text-shadow: none;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .tarefa__lista__item__detalhes {
  grid-row: 3/4;
  grid-column: 1/3;
  padding: 0.5em;
  display: none;
}
main .container .tarefas .tarefas__lista .tarefas__lista__item .active__tarefa__descricao {
  display: block;
  width: 100%;
  height: auto;
}
main .container .tarefas .tarefa__adicionar__lista {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  font-weight: bold;
  background-color: #004CA5;
  border: none;
  outline: none;
  color: #fff;
  border-top: solid 2px #000;
  cursor: pointer;
}
main .container .tarefa__formulario {
  display: none;
  flex-direction: column;
  row-gap: 0.5em;
}
main .container .tarefa__formulario fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 1em 1em 0 1em;
  row-gap: 0.3em;
}
main .container .tarefa__formulario fieldset input {
  height: 25px;
  padding: 0.5em;
}
main .container .tarefa__formulario fieldset textarea {
  padding: 0.5em;
}
main .container .tarefa__formulario fieldset label {
  font-size: 1.2em;
}
main .container .tarefa__formulario .tarefa__formulario__botoes {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  margin-bottom: 0.8em;
}
main .container .tarefa__formulario .tarefa__formulario__botoes button {
  flex-grow: 1;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 0;
  background-color: #004CA5;
  border: none;
  color: #fff;
}
main .container .tarefa__formulario__active {
  display: flex;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/DS-DIGI.TTF");
}
main .container .tarefas__concluidas {
  background-color: #00A88F;
  margin: 0 auto;
  box-shadow: 0 0 5px 2px #000;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
}
main .container .tarefas__concluidas h2 {
  font-size: 1.4em;
  text-align: center;
  padding: 0.5em 0;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 0.5em 0.5em 0.5em;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 35px 15px auto;
  position: relative;
  background-color: #84D4C9;
  border: solid 1px #000;
  text-shadow: 1px 1px 2px #000;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefas__concluidas__item__titulo {
  grid-row: 1/2;
  grid-column: 1/2;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefas__concluidas__item__excluir {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefas__concluidas__item__excluir button {
  background-color: transparent;
  border: none;
  outline: none;
  color: red;
  font-size: 1.5em;
  position: relative;
  cursor: pointer;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefas__concluidas__item__excluir button i {
  text-shadow: inset 0px 10px #fff;
  z-index: 2;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefas__concluidas__item__btn-detalhes {
  grid-row: 2/3;
  grid-column: 1/3;
  overflow: hidden;
  font-size: 0.55em;
  font-weight: bold;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-top: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.6em;
       column-gap: 0.6em;
  background-color: #33B8A5;
  text-shadow: 1px 1px 2px #000;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefas__concluidas__item__btn-detalhes i {
  rotate: 90deg;
  text-shadow: none;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefas__concluidas__item__descricao {
  grid-row: 3/4;
  grid-column: 1/3;
  display: none;
  padding: 0.5em;
}
main .container .tarefas__concluidas .tarefas__concluidas__lista .tarefas__concluidas__item .tarefa__concluida__active {
  display: block;
}

main .container {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  row-gap: 1.5em;
  grid-column: 1fr;
  grid-row: repeat(4, auto);
}
main .container .categoria {
  width: 90%;
  max-width: 900px;
  grid-row: 1/2;
  grid-column: 1/2;
}
main .container .tarefa__atual {
  width: 90%;
  max-width: 900px;
  grid-row: 2/3;
  grid-column: 1/2;
}
main .container .tarefas {
  width: 90%;
  max-width: 900px;
  grid-row: 3/4;
  grid-column: 1/2;
}
main .container .tarefas__concluidas {
  width: 90%;
  max-width: 900px;
  grid-row: 4/5;
  grid-column: 1/2;
}

@media screen and (min-width: 1024px) {
  main .container {
    grid-template-columns: repeat(2, 1fr);
    width: 900px;
    margin: 0 auto;
    -moz-column-gap: 1em;
         column-gap: 1em;
  }
  main .container .categoria {
    grid-column: 1/3;
    width: 100%;
  }
  main .container .tarefa__atual {
    grid-column: 1/3;
    width: 100%;
  }
  main .container .tarefas {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
  }
  main .container .tarefas__concluidas {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
  }
}
@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/DS-DIGI.TTF");
}
footer {
  margin-top: 2em;
  background-color: #333A73;
  padding: 1em 0.5em;
  font-family: "Anta", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
footer strong {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */